 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  //background: url('../images/escheresque_ste.png');
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: cover;
  color: #333;
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -500px, 0);
  }

  90% {
    opacity: .8;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.header {
  color: white;
  font-family: helvetica;
  font-weight: 400;
  font-size: 4em;
  //outline: solid red 1px;
  width: 100%;
  text-align: center;
  margin: 2em  auto;
  display: inline-block;
  //position: absolute;
  top: 50px;
  animation: bounceInDown 2s;
  text-shadow: 6px 8px 4px black;
}

.play1 {
  display: inline-block;
}

.area-graph {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}



.bar-chart,
.scatter-plot {
  outline: solid red 1px;
  display: inline-block;
  margin-left: 2em;
}
